body {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

div.board {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template: repeat(3, 60px) / repeat(3, 60px);
    justify-content: center;
    align-content: center;
}

.top-section {
    grid-row: 1/3;
    grid-column: 2/3;
    text-align: center;
}

.winner-display {
    color: limegreen;
}

.bottom-section {
    grid-row: 3/3;
    grid-column: 2/3;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.slot {
    border: 1px dashed black;
    text-align: center;
    line-height: 300%;
}

.slot:hover {
    background-color: gray;
}

.slot:active {
    background-color: pink;
}

.bottom-section>input {
    width: 60px;
    margin-bottom: 20px;
}

.copyright {
    width: 100%;
    position: absolute;
    bottom: 1px;
}